/nbproject/private/
/Análisis/proyectos PHP/calculator/nbproject/private/
/Planeacion/Mis proyectos PHP/talleres/nbproject/private/
/Planeacion/Mis proyectos PHP/talleres/point30/nbproject/private/
/Planeacion/Mis proyectos PHP/talleres/point31/nbproject/private/